.VientusFormSection {
    width: 50%;
    height: 1000px;
    padding: 20px 30px;
    box-sizing: border-box;
    text-align: center;
}

.VientusSidebar {
    background-color: #DBDDF4;
    position: fixed;
    top: 0px;
    right: 0px;
    height: 100%;
    width: 50%;
}
