.FormFormSection {
    width: 50%;
    padding: 20px 30px;
    box-sizing: border-box;
    text-align: center;
}

.FormSidebarSection {
    background-color: #DBDDF4;
    position: fixed;
    top: 0px;
    right: 0px;
    height: 100%;
    width: 50%;
}

.FormContainer {
    max-width: 480px;
    margin: 0px auto;
}

@media screen and (max-width: 600px) {
        .FormFormSection {
    width: 100%;
}
}

@media screen and (max-width: 600px) {
        .FormSidebarSection {
    display: none;
}
}
