.FormFormSection {
    width: 55%;
    padding: 20px 30px 80px 30px;
    box-sizing: border-box;
    text-align: center;
}

.FormSidebarSection {
    position: fixed;
    top: 0px;
    right: 0px;
    height: 100%;
    width: 45%;
}

.FormSidebarHidden {
    display: none;
}

.FormSidebarOverlay {
    background-color: rgba(111, 60, 135, 0.7);
    height: 100%;
    width: 100%;
}

.FormLogo {
    width: 118px;
    margin-bottom: 20px;
}

.FormContainer {
    max-width: 480px;
    margin: 0px auto;
}

.FormGroup {
    margin-bottom: 25px;
}

.FormSubmitButton {
    background-color: #FFF;
    padding: 15px 60px;
    text-transform: uppercase;
    font-size: 18px;
    color: #6F3C87;
    border: 3px solid #6F3C87;
    display: inline-block;
    text-decoration: none;
    margin: 0px;
    font-size: 1em;
    border-radius: 0px;
    font-weight: bold;
    cursor: pointer;
}

.FormSubmitButton:hover {
    color: #A84CD4;
    border: 3px solid #A84CD4;
}

.FormTitle {
    color: #6F3C87;
    font-weight: bolder;
    font-size: 50px;
    text-transform: uppercase;
    margin-top: 0px;
}

.FormSubtitle {
    color: #746F77;
    font-size: 14px;
}

.FormHint {
    margin: 50px 30px;
    font-size: 12px;
    color: #AFAFAF;
}

.FormError {
    font-size: 12px;
    color: #C36666;
    font-weight: bold;
    display: block;
    margin-top: 10px;
    margin-bottom: 20px;
}

.FormThanksTitle {
    margin-top: 50px;
    font-weight: lighter;
    color: #6F3C87;
}

.FormShare {
    margin-top: 50px;
}

.FormShareIcon {
    cursor: pointer;
    margin-bottom: 10px;
    margin-top: 10px;
    display: block;
}

.FormShareTitle {
    margin-top: 30px;
    font-weight: lighter;
}

.FormShareHint {
    font-size: 13px;
    font-weight: lighter;
    color: #AAA;
    margin-top: 20px;
}

.FormLanguages {
    position: fixed;
    top: 20px;
    right: 20px;
}

.FormLangIcon {
    width: 30px;
    margin-left: 10px;
    cursor: pointer;
    opacity: 0.4;
}

.FormLangActive {
    opacity: 1;
}

@media screen and (max-width: 700px) {
        .FormFormSection {
    width: 100%;
}
}

@media screen and (max-width: 700px) {
        .FormTitle {
    font-size: 35px;
}
}

@media screen and (max-width: 700px) {
        .FormLanguages {
    position: absolute;
    left: 20px;
    right: auto;
}
}

@media screen and (max-width: 700px) {
        .FormSidebarSection {
    display: none;
}
}
