html {
    height: 100%;
    overflow: hidden;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0px;
    height: 100%;
    overflow: hidden;
}

label {
    display: block;
    margin-bottom: 0.7em;
    font-weight: bold;
    font-size: 13px;
    color: #444046;
    text-transform: uppercase;
}

input {
    width: 100%;
    display: block;
    font-size: 1em;
    border-radius: 3px;
    border: 1px solid #DDD;
    padding: 0.5em 0.5em;
    background-color: #FFF;
    box-sizing: border-box;
}

select {
    width: 100%;
    display: block;
    font-size: 0.9em;
    border: 1px solid #CCC;
    border-radius: 4px;
    height: 34px;
    padding: 6px 12px;
    line-height: 1.4em;
    vertical-align: middle;
    background-color: #FFF;
}

#Main {
    height: 100%;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}

a {
    color: #6F3C87;
    text-decoration: none;
}

a:hover {
    color: #A84CD4;
}
